/* Importing CSS reset and Google Fonts */
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    /* Setting font family*/
    font-family: "Playfair Display", serif;

    /*Creating custom variables*/
    --background-one: #ede7e7;
    --background-two: #f5f5f5;
    --pink-shade: #943847;
    --green-shade: #27712a;
    --dark-green-shade: #4A5759;
    --dark-one: #1B1B1B;
    --dark-two: #333333;
}
/* Styling for the body */
body{
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: 4em 52em 6em;
    grid-template-areas: 
    "header "
    "main" 
    "footer"; 
}
/* Styling for the header */
header{
    grid-area: header;/* Assign header to grid area */
    /* Making the header a flexbox */
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--background-one);
}
header h1{
    /* Set font weight and size */
    font-weight: 600;
    font-size: 1.5em;
    padding: 0em 0.5em;
    color: var(--dark-one); /* Use custom color variable */
}
header p{
    font-weight: 400;/* Set font weight */
    color: var(--dark-two);/* Use custom color variable */
}
header ul{
    /* Align items to the right */
    margin-left: auto;
    /* Making the list a flexbox */
    display: flex;
}
header ul li{
    /* Add padding */
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-right: 0.1em solid var(--dark-one);/* Add border to the right */
}
header ul li:last-of-type{
    border-right: none;/* Remove border from last item */
}
header a{
    text-decoration: none;/* Remove underline from links */
    color: var(--dark-two);/* Use custom color variable */
}
header a:hover{
    color: var(--pink-shade);/* Change color on hover */
}
header a:visited{
    color: var(--green-shade);/* Use custom color variable for visited links */
}
/* Styling for the footer */
footer{
    /* Assign footer to grid area */
    grid-area: footer;
    background-color: var(--background-two);/* Use custom color variable */
    padding: 0.5em;
    border-top: 0.12em solid darkgrey;/* Add border */
    
}
footer ul{
    /* Making footer a flexbox */
    display: flex;
    /* Add padding */
    padding-right: 2em;
    padding-left: 2em;
    justify-content: space-between;/* Space items evenly */
    padding-top: 0.75em;
   
}
footer h1{
    /* Set font weight and size */
    font-weight: 600;
    padding-bottom: 0.5em;
    color: var(--dark-one);/* Use custom color variable */
}
footer p{
    /* Set font weight and size */
    font-weight: 100;
    font-size: 0.9em;
    color: var(--dark-two);/* Use custom color variable */
}
footer a{
    text-decoration: none;/* Remove underline from links */
    color: var(--dark-two); /* Use custom color variable */
}
footer a:hover{
    color: var(--pink-shade);/* Change color on hover */
}
footer a:visited{
    color: var(--green-shade);/* Use custom color variable for visited links */
}
/* Styling for the main content */
main{
    /* Assign main to grid area */
    grid-area: main;
    /*Making main a grid */
    display:grid;
    /* Define grid template columns and rows */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 1.5em;/* Add padding */
    background-color: var(--background-two);
   
}
main img{
    border-radius: 50%;/* Make image circular */
    padding: 0.5em; /* Add padding */
    justify-self: flex-end;/* Align image to end */
    
}
main div{
    align-self: center;
    padding-left: 1em;
}
main ul{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: baseline;
}
main ul a{
    text-decoration: none;
    color: var(--dark-two);
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-10 15:40:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  /* Animation on hover for the image and buttons */
main ul li:hover, img:hover{
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}  
main ul li{
    /*Styling for the buttons*/
    padding:3em 2em;
    border-radius: 50%;
    margin-right: 5em;
    font-weight: 600;
    border: 0.01em solid var(--dark-two);
}
 /* Set background colors for buttons */
main ul li:first-of-type{
    background-color: #DAD7CD;
}
main ul li:nth-of-type(2){
    background-color: #b6c79a;
}
main ul li:nth-of-type(3){
    background-color: #8cb68c;
}
main ul li:nth-of-type(4){
    background-color: #79A979;
}
main h1{
    /*Styling for h1*/
    font-weight: 700;
    font-size: 3.5em;
    color: var(--dark-one);
    padding-bottom: 0.5em;
}
main div h2{
    /* Set font weight and size*/
    font-weight: 500;
    font-size: 1.5em;
    color: var(--dark-two);/* Use custom color variable */
    /* Add padding */
    padding-bottom: 1em;
}
main p{
    text-indent: 1em;/* Indent text */
    color: var(--dark-green-shade);/* Use custom color variable */
    /* Add padding */
    padding-right: 7em;
    padding-bottom: 1em;
}
/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
    /* Dark mode colors */
    main{
        background-color: #333333;
        color: #dce4d6;
    }
    header{
        background-color: #4e4e4e;
       }
    header h1{
        color: #D9DFC8;
    }
    header p{
        color: #BFCA91;
    }
    header a{
        color: #cbcbcb;
    }
    header a:hover{
        color: #E1CBCF;
    }
    header a:visited{
        color: #6ee172;
    }
    main h1{
        color: #BFCA91;
    }
    main div h2{
        color: #BFCA91;
    }
    main p{
        color: #D9DFC8;
    }
    footer{
        background-color: #4e4e4e;
        color: rgb(203, 203, 203);
    }
    footer h1{
        color: #d2e1a7;
    }
    footer p{
        color: rgb(203, 203, 203);
    }
    footer a{
        color: rgb(203, 203, 203);
    }
    footer a:hover{
        color: #ca929b;
    }
    footer a:visited{
        color: rgb(110, 225, 114);
    }
    @-webkit-keyframes shadow-drop-2-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-box-shadow: 0 0 0 0 rgb(110, 225, 114);
                  box-shadow: 0 0 0 0 rgb(110, 225, 114);
        }
        100% {
          -webkit-transform: translateZ(50px);
                  transform: translateZ(50px);
          -webkit-box-shadow: 0 0 20px 0px rgb(110, 225, 114);
                  box-shadow: 0 0 20px 0px rgb(110, 225, 114);
        }
      }
      @keyframes shadow-drop-2-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-box-shadow: 0 0 0 0 rgb(110, 225, 114);
                  box-shadow: 0 0 0 0 rgb(110, 225, 114);
        }
        100% {
          -webkit-transform: translateZ(50px);
                  transform: translateZ(50px);
          -webkit-box-shadow: 0 0 20px 0px rgb(110, 225, 114);
                  box-shadow: 0 0 20px 0px rgb(110, 225, 114);
        }
      }
    main ul li:hover, img:hover{
        -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}